html {
  font-size: 10px;
  cursor: url('./clubsmall.png') 100 0, auto;
  background: url('./bg-comp.jpg') center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
@font-face {
  font-family: "Jurassic Park";
  src: url("./DinoFont.ttf");
  font-family: "JFRockCropOut";
  src: url("./JFRocOut.ttf");
}

h1{
  font-family: "JFRockSolid";
  font-weight: 400;
  text-align: center;
  font-size: 10rem;
  margin: 10% 0 0 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}


#dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JFRockCropOut";
  height: 60px;
}
.score {
  font-size: 6em;
  background: none;
}

.startElements {
  margin-top: 10%;
  background: none;
  font-size: 4.5em;
  font-family: "JFRockCropOut";
}

.startElements:hover{
  color: #fff;
  cursor: pointer;
  font-family: "JFRockCropOut";
}


#btnStart{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: -5%;
  gap: 5%
}
.bush {
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-top: 5%;
  position: relative;
}

.bush:after {
  display: block;
  background: url('./bush-comp.png') bottom center no-repeat;
  background-size: 80%;
  content: '';
  width: 350px;
  height: 65%;
  position: absolute;
  z-index: 2;
  bottom: -15%;
}

.dino {
  background: url('./drink-comp.png') center no-repeat;
  background-size: 80%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 80%;
  transition:all 0.2s;
  z-index: 1;
  padding-bottom: 10px;
}
.dino:active {
  background: url('./dizzy-comp.png') center no-repeat;
  width: 80%;
  height: 90%;
}


.bush.up .dino {
  top: 0;
}

@media(min-width: 834px) {
  .text {
    margin-top: -5%;
  }

  #btnStart{
    margin-top: -5%;
  }

  #dashboard{
    font-size:1rem;
    margin-top: 0%;
    align-items: center;
  }

  .game{
    flex-direction: row;
    margin-top: 15%;
    justify-content: center;
  }

  .dino:active {
    background-size: 100%;
  }

  .bush {
    overflow: hidden;
    position: relative;
    width: 350px;
    margin-top: -5%;
    
  }

}

