html {
  font-size: 10px;
  cursor: url('./clubsmall.png') 100 0, auto;
  background: url('./bg-comp.jpg') center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "JFRockSol";
  src: url("./JFRocSol.TTF");
}

h1 {
  font-family: "JFRockSol";
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  line-height: 0.3;
}

body{
  height: 94%;
}

#btnStart{
  font-family: "JFRockSol";
  font-size: 1.8em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.5em;
}

.startElements{
  overflow-wrap: break-word;
  text-align:center;
}
.startElements:active{
  text-shadow: 5px 5px 10px rgb(183, 255, 76),
              -5px -5px 10px rgb(183, 255, 76);
}
.startElements:hover{
  text-shadow: 5px 5px 10px rgb(183, 255, 76),
              -5px -5px 10px rgb(183, 255, 76);
}

#dashboard{
  width: 100%;
  line-height:0.1;
  text-align: center;
  padding-top: 5%;
}

.score{
  font-family: "JFRockSol";
  font-size: 3em;

}

.game {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bush{
  flex: 1 0 50%;
  overflow: hidden;
  position: relative;
}
.bush:after{
  display: block;
  background: url('./bush-comp.png') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: 2;
  bottom: -13%;
}

.dino {
  background: url('./drink-comp.png') center no-repeat;
  background-size: 50%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 90%;
  transition: all 0.2s;
  bottom: 2%;
}
.dino:active {
  background: url('./dizzy-comp.png') center no-repeat;
  background-size: 60%;
  text-shadow: 4px 4px 10px greenyellow;
}

.bush.up .dino{
  top: 0;
}

@media screen and (min-width: 580px){
  h1{
    font-size: 6em;
  }

  #btnStart{
    margin-top: 5%;
    font-size: 3em;
  }

  .score{
    font-size: 8em;
    text-align: center;
    padding-top: 0;
  }

  .game{
    flex-direction: column;
    height: 65%;
    margin-bottom: 0;
    justify-content: space-between;
    align-self: center;
    bottom: 0;
  }

  .bush:after{
    width: 100%;
  }
}
